/* styles.css */
header{
    background-image: url('../../img/pattern.png');
    height: 150px;
    background-color: rgb(17, 112, 214);
    margin-top: 0px;
    }

    #logo{
        width: 180px;
        padding-top: 90px;
        padding-left: 10px;
        
    }

    tag{
        color:aqua;
    }

    h3{
        color:grey;
       
    }

    h1{
        font-size: 45px;
       
    }

    #photodescription{
        font-size: 12px;

    }

    p{
        font-size: 19px;
    }

    table{
        font-size:19px
    }

    Ul{
        font-size: 19px;
    }


    body{
        text-align: left;
    }

    th{
        color: white;
        background-color: rgb(19, 169, 245);
    }

    td{
        width: 600px;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }
    
    tr:nth-child(odd) {
        background-color: #b8f0f1;
    }


    .yellow-text {
      background-color: yellow;
      color: black;
    }

    h4{
        background-image:url('../../img/monitor.jpg');
        background-repeat: no-repeat;
        color: #fff;
        margin: 0px;
        font-size: 20px;
        width: 400px;
        height: 200px;
        padding-top: 10px;
        padding-left: 10px;
    }

    .img-2{
        background-image:url('../../img/graph.jpg');
        background-repeat: no-repeat;
        color: #fff;
        margin: 0px;
        font-size: 20px;
        width: 400px;
        height: 200px;
        padding-top: 10px;
        padding-left: 10px;
    }
        